
<div class="form-group">
    <label for="reimb-id">Reimbursement Id</label>
    <input type="text" class="form-control" id="reimb-id">
</div>

<div class="form-group">
    <label for="approve-or-deny-reimbursement-dropdown">Role</label>
    <select class="form-control" id="approve-or-deny-reimbursement-dropdown">
      <option>Approve</option>
      <option>Deny</option>
    </select>
  </div>

  <div class="alert alert-success" id="reimbursement-approved-or-denied-successfully-msg"></div>
  <div class="alert alert-danger" id="reimbursement-approved-or-denied-alert"></div>

